name: Build and Deploy JIT Access (Shift-Left)

on:
  pull_request:
    branches: [ main ]
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '*.tf'
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: ${{ secrets.AZURE_FUNCTIONAPP_NAME }}
  DOTNET_VERSION: '8.0.x' 
  WORKING_DIRECTORY: 'src'

jobs:
  # THE SECURITY GATE (Shift-Left)
  security-gate:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    # This checks if you left ports open or encryption off
    - name: Run Trivy Vulnerability Scanner (IaC)
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'config'
        hide-progress: false
        format: 'table'
        exit-code: '1'         # FAIL the build if issues are found
        severity: 'CRITICAL,HIGH'
      continue-on-error: true # false = stop the pipeline if failures are false, true = proceed to next step

    # This checks for SQL Injection and bad logic
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: csharp

    - name: Autobuild C# for CodeQL
      uses: github/codeql-action/autobuild@v3

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

  # DEPLOYMENT (Only runs if Security Gate passes)
  build-and-deploy:
    needs: security-gate
    runs-on: ubuntu-latest
    
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: Setup Dotnet ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: 'Restore Dependencies'
      run: dotnet restore
      working-directory: ${{ env.WORKING_DIRECTORY }}

    - name: 'Publish Project'
      run: dotnet publish --configuration Release --output ./output
      working-directory: ${{ env.WORKING_DIRECTORY }}

    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: '${{ env.WORKING_DIRECTORY }}/output'